//Paleta de colores
$blue-dark-color: #373b4c; //blue-dark
$green-color: #00d2c4; //green
$grey-color: #ccc; //grey
$blue-dark-opacity: #2b3042;
$font-color-menu: #7a819e;
$font-color-grey: #999;

//Estilos base
@import "base/normalize";
@import "base/base";
@import "layout/header";
@import "layout/section_one";
@import "base/swiper";
@import "layout/section_two";
@import "layout/plans";

