.navbar {
	background: $blue-dark-opacity;
}

.container-navbar-brand {

}

.navbar-toggle {
	display: none;
}

.collapse {
	display: flex;
	justify-content: flex-end;
	margin-right: 2em;
}

.navbar-nav {
	width: 800px;
	list-style: none;
	display: flex;	
	margin: 0;
	padding-left: 0;
	

	& .nav-item {
		font-size: $s;
		flex: auto;
	}

	& .nav-link {
		color: $font-color-menu;
		display: block;
		text-align: center;
		padding: 2em;
	}
}

.navbar-brand{
	color:#fff;
	background: $green-color;
	width: 50px;
	height: 50px;
	font-size: $l;
	font-weight: bold;
	text-align: center;

}


.title {
	text-transform: uppercase;
	margin: 0;
	color: #fff;
	text-align: center;
}

.container {
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	width: 30%;
}

.head {
	display: flex;
	justify-content: center;
	background: $blue-dark-color;
	height: 600px;
}

.description {
	color: #fff;
	width: 80%;
	text-align: center;
	margin: 0 auto;
	line-height: 1.5;
}

.button--download{
	margin: 1.5em;
}
.button {
	border: 0;
	border-radius: 30px;
	padding: 1em 2em;
	background: $green-color;
	color: #fff;
	text-transform: uppercase;

}

.operating-systems {
	color: #fff;
	font-size: 30px;

	& i {
		margin: .2em;
	}
}

.item {
	font-weight: 700;
	line-height: 0;
}

.iphone {
	width: 60%;
	display: block;
	margin: 0 auto;
}

.store {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.stores {
	width: 160px;
	margin: .5em;
}