.list-items {
	list-style: none;
	font-size: $xs;
	margin: 20px 0 0 0;
	padding: 0;
	color: #282828;
	
}

.list-item {
	padding: 10px 0;
	border-top: 1px solid $grey-color;
	display: flex;
	justify-content : center;
	width: 200px;

}

.container-plans {
	margin-top: 80px;
	display: flex;
	width: 100%;
	justify-content: center;
	
	
}

.item-plan {
	border: 1px solid $grey-color;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 1em;
	margin-left: 1em;
	
	
	
}

.plan-dark {
	display: flex;
	width: 360px;
	height: 230px;
	background: #1b1c1f;
	color: #fff;
	text-align: center;

}
.container-description-dark {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.price {
	line-height: 0.7;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	font-weight: bold;
	position: relative;

	&::before {
		content: '$';
		position: absolute;
		width: 0.5em;
		height: 0.5em;
		border-radius: 50%;
		left: 100px;
		font-size: .5em;
	}
}

.period {
	font-family: 'Raleway', sans-serif;
	font-size: $xs;
	line-height: 3;
	letter-spacing: 0.4px;
}


.title-plan {
	color: $green-color;
	font-size: $ml;
	letter-spacing: 0.6px;
}

.plan-light {
	display: flex;
	flex-direction: column;

}

.button-buy {
	margin: 1em auto;

	
}
